body{
    background: rgb(60, 107, 122);
    font: normal 15pt Arial;
}
header{
    color: rgba(255, 255, 255, 0.788);
    text-align: center;
}
section{
    background: rgba(255, 255, 255, 0.788);
    border-radius: 30px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.281);
}

div{
    text-align: center;
    padding: 5px;
}

footer{
    color: rgba(255, 255, 255, 0.788);
    text-align: center;
    font-style: italic;
}